
201508_trip_data.csv

.DS_Store

.ipynb_checkpoints/Introduction to Pandas-checkpoint.ipynb

ato queries

.ipynb_checkpoints/Step 2. Rides Per Day in September 2014-checkpoint.ipynb

.ipynb_checkpoints/Step 1. Basic Pandas and Matplotlib-checkpoint.ipynb

.ipynb_checkpoints/Step 3. Rides by Station in September 2014-checkpoint.ipynb
